<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.label :level %>
  <%= f.select(:level, [['Junior', 'Junior'],
                                  ['Intermediate', 'Intermediate'],
                                  ['Senior', 'Senior'],
                                  ['Executive', 'Executive'],
                                  ['All', 'All']
                                 ],{ :prompt => "Please select"},
                                   { :multiple => false, :size => 5, :class => 'form-control' }
                                ) %>
  <%= f.label :job_type %>
  <%= f.text_field :job_type, class: "form-control" %>
  <%= f.label :source %>
  <%= f.text_field :source, class: "form-control" %>
  <%= f.label :link %>
  <%= f.text_field :link, class: "form-control" %>
  <%= f.label 'Organization' %>
  <%= f.collection_select(:organization_id, Organization.all.sort_by{ |org| org.name}, :id, :name, {:include_blank => true}, class: "form-control") %>
  <%= f.label :sponsored %>
  <%= f.check_box :sponsored, class: "form-control" %>
  <div class="actions">
    <%= submit_tag "Update", class: "btn btn-default" %>
  </div>
<% end %>
