<div class="row job-board__sponsors">
  <div class="col-xs-12">
    <h3>Sponsored by</h3>
    <%= image_tag 'sponsors/BCIC.png', alt: 'BCIC' %>
    <%= image_tag 'sponsors/Futurpreneur.jpg', alt: 'Futurpreneur' %>
    <%= image_tag 'sponsors/Randstad.svg', alt: 'Randstad' %>
    <%= image_tag 'sponsors/SFU.jpg', alt: 'SFU' %>
    <%= image_tag 'sponsors/TechvibesLogo.png', alt: 'Techvibes' %>
    <%= image_tag 'sponsors/VEC.jpg', alt: 'VEC' %>
  </div>
</div>