<div class="row job-board__sponsors">
  <div class="col-xs-12">
    <h3>Sponsored by</h3>
    <%= link_to(image_tag('sponsors/BCIC.png', alt: 'BCIC'), 'http://www.bcic.ca/', target: '_blank') %>
    <%= link_to(image_tag('sponsors/Futurpreneur.jpg', alt: 'Futurpreneur'), 'http://www.futurpreneur.ca/', target: '_blank') %>
    <%= link_to(image_tag('sponsors/Randstad.svg', alt: 'Randstad'), 'http://www.randstad.ca/', target: '_blank') %>
    <%= link_to(image_tag('sponsors/SFU.jpg', alt: 'SFU'), 'http://www.sfu.ca/', target: '_blank') %>
    <%= link_to(image_tag('sponsors/TechvibesLogo.png', alt: 'Techvibes'), 'http://www.techvibes.com/', target: '_blank') %>
    <%= link_to(image_tag('sponsors/VEC.jpg', alt: 'VEC'), 'http://www.vancouvereconomic.com/', target: '_blank') %>
  </div>
</div>
