<p id="notice"><%= notice %></p>

<h2><%= @job.title %></h2>
<p><%= @job.description %></p>
<p><%= @job.level %></p>
<p><%= @job.job_type %></p>
<p><%= @job.source %></p>
<p><%= @job.link %></p>
<p><%= @job.created_at.strftime("%B %d, %Y") %></p>
<% if @job.organization.present? %>
  <p>at <%= @job.organization.name %></p>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
