<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-2">
        <% if @user.image.present? %>
            <%= image_tag @user.image, height: "100", class: "pull-left" %>
        <% elsif @user.startup_genome_image.present? %>
          <%= image_tag @user.startup_genome_image, height: "100" %>
        <% else %>
          <span class="glyphicon glyphicon-user"></span>
        <% end %>
        <%= form_tag upload_image_user_path, multipart: true do %>
        <div class="form-group">
          <%= file_field_tag :image, class: "form-control" %>
          <%= submit_tag "Upload", class: "btn btn-default btn-sm" %>
        </div>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= form_for current_user, html: {role: "form", class: "inline-form"} do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field "name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field "email", class: "form-control", placeholder: 'email@example.com' %>
          </div>
          <div class="form-group">
            <%= f.label :short_bio %>
            <%= f.text_field "short_bio", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :bio %>
            <%= f.text_area "bio", class: "form-control", rows: 5 %>
          </div>
          <div class="form-group">
            <%= f.label :why_vancouver, 'Why Vancouver?' %>
            <%= f.text_area "why_vancouver", class: "form-control", rows: 5 %>
          </div>
          <%= f.submit "Save Changes", class: "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
