<% if @user.organizations.any? || user_is_current_user? %>
  <section class="profile__organizations">
    <h2>Organizations</h2>
    <ul class="list-unstyled">
      <% @user.organizations.each do |organization| %>
        <li>
          <a href="<%= organization_path(organization) %>" class="entity-lg wr-link-incubator">
            <% if organization.image.present? %>
              <%= image_tag organization.image_url(:small_thumb), class: "entity-lg__img" %>
            <% else %>
              <span class="wr-icon wr-icon-incubator entity-lg__img"></span>
            <% end %>
            <div class="entity-lg__txt">
              <div class="entity-lg__name"><%= organization.name %></div>
              <div class="entity-lg__rel">Admin</div>
            </div>
          </a>
        </li>
      <% end %>
      <% @user.organization_user_roles.each do |role| %>
        <li>
          <a href="<%= organization_path(role.organization) %>" class="entity-lg wr-link-incubator">
            <% if role.organization.image.present? %>
              <%= image_tag role.organization.image_url(:small_thumb), class: "entity-lg__img" %>
            <% else %>
              <span class="wr-icon wr-icon-incubator entity-lg__img"></span>
            <% end %>
            <div class="entity-lg__txt">
              <div class="entity-lg__name"><%= role.organization.name %></div>
              <div class="entity-lg__rel"><%= role.name %></div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
    <% if user_is_current_user? %>
      <%= link_to "Create New Organization", new_organization_path, class: "btn btn-default" %>
    <% end %>
  </section>
<% end %>

