<div class="row profile profile--user">
  <div class="col-sm-4 profile__sidebar">
    <%= render "users/show_header" %>
    <%= render "users/show_jobs" %>
    <%= render "users/show_organizations" %>
    <%= render "users/claim_header" %>
  </div>

  <div class="col-sm-8 profile__content">
    <% if current_user == @user && @user.email.nil? %>
    <div class="alert alert-info">
      <p style="margin-bottom: 10px">We noticed we don't have your email address. Add it here to receive WeAreYVR updates. No spam, no way.</p>
      <%= form_for current_user, html: { role: "form", class: 'form-inline' } do |f| %>
        <div class="form-group">
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>
    <%= render "users/edit_mode" %>
    <%= render "users/bio" %>
    <%= render "users/skills" %>
    <%= render "users/why_vancouver" %>
    <%= render "users/projects" %>
    <%= render "users/local_faves" %>
  </div>
</div>
