<div class="panel panel-default">
  <div class="panel-body activity">  
    <%= link_to activity.owner.name, user_url(activity.owner) %>

    added link
    <% if activity.trackable %>
      <%= link_to activity.trackable.name, activity.trackable.url %>
       
      to 

      <%= link_to activity.trackable.organization.name, organization_url(activity.trackable.organization) %>
    <% else %>
    <%= link_to activity.parameters[:name], activity.parameters[:url] %>
      to 
      <% if activity.parameters[:linkable].present? %>
        <%= link_to activity.parameters[:linkable_name], polymorphic_url(activity.parameters[:linkable]) %>
      <% else %>
        <%= link_to activity.parameters[:linkable_name], send(activity.parameters[:linkable_type].downcase + '_path', activity.parameters[:linkable_id]) %>
      <% end %>
      (since removed)
    <% end %>
  </div>
</div>
