<%= form_for @organization, html: { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label "Hiring" %>
    <div class="checkbox">
      <label><%= f.check_box :hiring %> Show that we're hiring?</label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hiring_roles %>
    <%= f.text_field "hiring_roles", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :hiring_url, 'Hiring URL' %>
    <%= f.text_field "hiring_url", class: "form-control", placeholder: 'http://example.com' %>
  </div>
  <%= f.submit "Save Info", class: "btn btn-primary" %>
<% end %>

