<section class="profile__header">
  <%= render "organizations/image" %>
  <h1><%= @organization.name %></h1>
  <%= render "organizations/show_types" if @organization.types.any? %>
  <p class="profile__tagline"><%= @organization.headline %></p>
  <%= render "organizations/show_profile_links" if @organization.profile_links.any? %>
</section>