<section class="profile__header">
  <h1><%= @organization.name %></h1>
  <%= render "organizations/image" %>
  <%= render "organizations/show_types" if @organization.types.any? %>
  <p class="profile__tagline"><%= @organization.headline %></p>
  <%= render "organizations/show_hiring" if @organization.hiring? %>
</section>