<section class="profile__address">
  <h2>Address</h2>
  <!-- <a href="#"><div class="profile__map" style="background-image: url('400x250@2x.png');"></div></a> -->
  <!-- <img src="http://api.tiles.mapbox.com/v4/weareyvr.ihm6b9cb/pin-s+fff(-123.113649,49.277687,14)/-123.113649,49.277687,14/400x250@2x.png?access_token=pk.eyJ1Ijoid2VhcmV5dnIiLCJhIjoiVGV2cjRMayJ9.lUUKC8rXjX612VYHI2X4Kg"> -->
  <address class="small">
    <% if @organization.neighbourhood.present? %>
      <a href="#" class="entity wr-link-gastown pull-right"><span class="wr-icon <%= @organization.css_neighbourhood_icon_class %>"></span> <%= @organization.neighbourhood %></a>
    <% end %>
    <!-- <a href="http://maps.apple.com?q=<%= display_address %>, Vancouver, BC, Canada"><%= display_address %></a><br> -->
    <%= display_address %><br>
  </address>
</section>
